<footer class="bg-white rounded-lg shadow m-4 dark:bg-pink-400">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-dark sm:text-center dark:text-dark">©2023. All Rights Reserved to Enicarthage.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-dark-500 dark:text-black-400 sm:mt-0">
      <li>
        <a href="https://www.facebook.com/Ecole-Nationale-dIng%C3%A9nieurs-de-Carthage-ENICarthage-532762086862252"
           class="mr-4 hover:underline md:mr-6 ">Facebook</a>
      </li>
      <li>
        <a href="http://www.enicarthage.rnu.tn/" class="mr-4 hover:underline md:mr-6">Site Web</a>
      </li>
    </ul>
  </div>
</footer>
