<h1>Modifier un organisateur</h1>
<form (ngSubmit)="onSubmit()" >
    <div >
        <label class="">nom</label>
         <input type="text" placeholder="nom" name="nom" [(ngModel)]="formData.nom"><br>
    </div>
    <div>
        <label>prenom</label>
        <input type="text" placeholder="prenom" name="prenom" [(ngModel)]="formData.prenom">
    </div><br>
    <div>
        <label>mail</label>
        <input type="email" placeholder="Email" name="mail" [(ngModel)]="formData.mail">
    </div><br>
    <div>
        <label>telephone</label>
        <input type="tel" placeholder="telephone" name="phoneNumber" [(ngModel)]="formData.phoneNumber">
    </div>
   <div>
    <label>mission</label>
    <input type="text" placeholder="mission">
   </div>

    <div>
        <button >Ajouter</button>
    </div>
</form>
