<div id="AddEvent">
    <h2>Modifier un evenement</h2>
    <form (ngSubmit)="onSubmit()">
        <div id="divLabelle">
            <label class="label">Libelle</label>
             <input type="text" placeholder="libelle" name="libelle" [(ngModel)]="formData.libelle"><br>
        </div>
        <div id="divDate">
            <label class="label">Date</label>
             <input type="date" placeholder="Date" name="date" [(ngModel)]="formData.date"><br>
      </div>
        <div id="divLieu">
             <label class="label">Lieu</label>
             <input type="text" placeholder="Lieu" name="lieux" [(ngModel)]="formData.lieux"><br>
        </div>
        <div id="nombreMaxParticipants">
             <label class="label">Nombre maximale des participants</label>
             <input type="number" name="nbMaxParticipants" placeholder="Nombre maximale des participants" [(ngModel)]="formData.nbMaxParticipants"><br>
        </div>
        <div id="divDescription">
             <label class="label">Description</label>
             <input type="text" placeholder="Description" name="description" [(ngModel)]="formData.description"><br>
        </div>
        <div id="divType">
             <label class="label">Type</label>
             
             <select name="type" id="type" [(ngModel)]="formData.type">
               <option value="Party">Party</option>
               <option value="Conferance">Conferance</option>
               <option value="Training">Training</option>
             </select>
             <br>
        </div>
      
        <div>
          <button>Modifier</button>
        </div>

    </form>
</div>
