<table class="border-collapse border border-pink-500 mt-5 mx-auto center">
  <thead>
  <tr class="bg-pink-400 text-white">
    <th class="px-4 py-2">libelle</th>
    <th class="px-4 py-2">date</th>
    <th class="px-4 py-2">Nombre Max de Participants</th>
    <th class="px-4 py-2">lieux</th>
    <th class="px-4 py-2">type</th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg-pink-100">
    <td class="px-4 py-2 border border-pink-500">1</td>
    <td class="px-4 py-2 border border-pink-500">John</td>
    <td class="px-4 py-2 border border-pink-500">Doe</td>
    <td class="px-4 py-2 border border-pink-500">john.doe@example.com</td>
    <td class="px-4 py-2 border border-pink-500">john.doe@example.com</td>
  </tr>
  </tbody>
</table>
