<div id="AddEvent">
    <h2>Ajouter un evenement</h2>
    <div>
        <div id="divLabelle">
            <label class="label">Libelle</label>
             <input type="text" placeholder="libelle"><br>
        </div>
        <div id="divDate">
            <label class="label">Date</label>
             <input type="date" placeholder="Date"><br>
      </div>
        <div id="divLieu">
             <label class="label">Lieu</label>
             <input type="text" placeholder="Lieu"><br>
        </div>
        <div id="nombreMaxParticipants">
             <label class="label">Nombre maximale des participants</label>
             <input type="number" placeholder="Nombre maximale des participants"><br>
        </div>
        <div id="divDescription">
             <label class="label">Description</label>
             <input type="text" placeholder="Description"><br>
        </div>
        <div id="divType">
             <label class="label">Type</label>
             <input type="text" placeholder="type"><br>
        </div>
        <div id="divOrganisateurs">
             <label class="label">Organisateurs</label>
                <input type="text" placeholder="Organisateurs"><br>
        </div>
    </div>
</div>