.label{
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
#divLabelle{position: relative;
    margin-top: 1cm;
    left:3cm;position: relative;
    margin-top: 1cm;
    left:3cm;}
#AddEvent{position: relative;
left: 13cm;
margin-top: 2cm;}
#divDate{position: relative;
    margin-top: 1cm;
    left:3cm;}
    #divLieu{position: relative;
        margin-top: 1cm;
        left:3cm;}
    #nombreMaxParticipants{position: relative;
        margin-top: 1cm;
        left:3cm;}
    #divDescription{position: relative;
        margin-top: 1cm;
        left:3cm;}
    #divType{position: relative;
        margin-top: 1cm;
        left:3cm;}
    #divOrganisateurs{position: relative;
        margin-top: 1cm;
        left:3cm;}
        h2{
            color: rgb(216, 120, 136);
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
